---
- name: "Ensure the tarball dir exists at {{zookeeper_tarball_dir}}"
  file: path={{zookeeper_tarball_dir}} state=directory

- name: Download zookeeper version.
  get_url:
    url: "{{zookeeper_url}}"
    dest: "{{zookeeper_tarball_dir}}/zookeeper-{{zookeeper_version}}.tar.gz"
  tags: bootstrap

- name: Unpack tarball
  unarchive:
    src: "{{zookeeper_tarball_dir}}/zookeeper-{{zookeeper_version}}.tar.gz"
    dest: /opt
    copy: no
  tags: bootstrap

- name: Create zookeeper group
  group:
    name: zookeeper
    system: yes

- name: Create zookeeper user
  user:
    name: zookeeper
    group: zookeeper
    system: yes

- name: Change ownership on zookeeper directory.
  file:
    path: "{{zookeeper_install_dir}}"
    state: directory
    owner: zookeeper
    group: zookeeper
  tags: bootstrap

- name: Link zookeeper dir to install dir
  file:
    src:  "{{zookeeper_install_dir}}"
    dest: "{{zookeeper_dir}}"
    state: link
    owner: zookeeper
    group: zookeeper
  tags: bootstrap

- name: "Create zookeeper {{item}} directory."
  file:
    path: "{{item}}"
    state: directory
    owner: zookeeper
    group: zookeeper
  tags: bootstrap
  with_items:
    - "{{data_dir}}"
    - "{{log_dir}}"

- name: Write myid file.
  template:
    src: myid.j2
    dest: "{{data_dir}}/myid"
    owner: zookeeper
    group: zookeeper
    force: "{{ zookeeper_force_myid }}"
  tags: deploy
  notify:
    - Restart zookeeper

- name: Configure zookeeper zoo.cfg
  template:
    src: zoo.cfg.j2
    dest: "{{ zookeeper_dir }}/conf/zoo.cfg"
    owner: zookeeper
    group: zookeeper
  tags: deploy
  notify:
    - Restart zookeeper

- name: Add zookeeper's bin dir to the PATH
  copy:
    content: "export PATH=$PATH:{{zookeeper_dir}}/bin"
    dest: "/etc/profile.d/zookeeper_path.sh"
    mode: 0755
  when: zookeeper_register_path_env
