tickTime={{ zookeeper_tick_time }}
dataDir={{ zookeeper_data_dir }}
dataLogDir={{ zookeeper_data_log_dir }}
{% if zookeeper_version is version('3.5.0', '<') %}
clientPort={{ zookeeper_client_port }}
{% endif %}
initLimit={{ zookeeper_init_limit }}
syncLimit={{ zookeeper_sync_limit }}

{% if zookeeper_autopurge_purge_interval > 0 %}
autopurge.purgeInterval={{ zookeeper_autopurge_purge_interval }}
autopurge.snapRetainCount={{ zookeeper_autopurge_snap_retain_count }}
{% endif %}

{% for server in zookeeper_hosts %}
{% if server.host is defined %}
{% if server.ip is defined %}
server.{{server.id}}={{server.ip}}:2888:3888{{ ';' ~ zookeeper_client_port if (zookeeper_version is version('3.5.0', '>=')) else '' }}
{% else %}
server.{{server.id}}={{server.host}}:2888:3888{{ ';' ~ zookeeper_client_port if (zookeeper_version is version('3.5.0', '>=')) else '' }}
{% endif %}
{% else %}
server.{{loop.index}}={{server}}:2888:3888{{ ';' ~ zookeeper_client_port if (zookeeper_version is version('3.5.0', '>=')) else '' }}
{% endif %}
{% endfor %}

{% if zookeeper_config_map is defined %}
{% for config in zookeeper_config_map %}
{{config.key}}={{config.value}}
{% endfor %}
{% endif %}

{% if zookeeper_4lw_commands_whitelist is defined %}
4lw.commands.whitelist={{ zookeeper_4lw_commands_whitelist }}
{% endif %}
